<%= form_with(model: product, local: true, multipart: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %>prohibited this photo from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, cols: 60 %>
  </div>
  <div class="field">
    <%= form.label :image %>
  </div>
  <div id="uppy" data-uppy-gui="drag" data-form-type="uppy" data-uppy-instance="uppy-product" data-max-file-size="5" data-presign-url="/presign", data-post-url="<%= products_path %>", data-allowed-files="image/jpg,image/jpeg,image/png" data-rails-model="product" data-image-attribute="image">
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
